body {
	@apply text-parsley;
	font-family: "Lector";
	font-variant: lining-nums;
}

::selection {
	@apply bg-flamingo text-almond;
}

p {
	font-size: 16px;
	line-height: 26px;
}

.admin-bar {
	.site-header {
		top: 32px !important;
	}
}

.site-header {
	@apply px-4 pt-4 fixed top-0 w-full z-10;

	&__content {
		@apply relative;
	}

	&__inner {
		@apply grid grid-cols-2 gap-6;
	}

	&__logos {
		@apply flex items-center relative;
	}

	&__post-type {
		@apply text-30 inline-block transition-opacity duration-300;
	}

	&--light {
		.menu-indicator {
			@apply bg-parsley;
		}
		.logo {
			@apply text-parsley;
		}
	}

	&--dark {
		.menu-indicator {
			@apply bg-almond;
		}
		[data-post-type],
		.logo {
			@apply text-almond;
		}
	}
}

.wysiwyg-wrapper {
	a {
		@apply transition-colors;
		@apply hover:text-flamingo;
	}
}
