.menu-indicator {
    @apply w-2 h-2 rounded-full;
    transition: all .3s ease;
}

.menu-trigger-wrapper {
    @apply absolute top-1/2 -translate-y-1/2 right-0 z-[1000] p-4;
    // padding: 20px;
    // z-index: 1000;

    &:hover {
        .menu-indicator {
            transform: scale(2);
        }
        @apply cursor-pointer;
    }
}

.menu-trigger-inner {
	@apply flex items-center justify-center h-full;
}

.site-menu {
    @apply opacity-0 pointer-events-none invisible transition-opacity duration-300 ease-linear max-h-full bg-black w-screen fixed z-30 left-0 top-0 bottom-0 p-4;
}

.menu-active {
    .menu-trigger-wrapper {
        .menu-indicator {
            transform: scale(2);
        }
    }
    .site-menu {
        pointer-events: all;
        @apply opacity-100 visible;
    }
}

.admin-bar {
    .menu-trigger-wrapper {
        top: 32px;
        @apply top-[32px];
    }
}

.nav-logo {
    &.logo-shorty {
        .logo-long {
            @apply opacity-0 invisible;
        }
        .logo-short {
            @apply opacity-100 visible delay-300;
        }
    }
    .logo-long {
        @apply opacity-100 delay-300 invisible lg:visible;
    }
    .logo-short {
        @apply absolute h-7 pr-8 lg:opacity-0 lg:invisible;
    }
    .logo-long,
    .logo-short {
        @apply transition-opacity duration-300 ease-linear;
    }
}

.admin-bar {
    [data-title-wrapper] {
        top: 52px;
        @apply top-[52px];
    }
}

.menu-item {
    @apply mb-4 text-almond hover:text-flamingo transition ease-in-out duration-300;
}