{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="bg-almond {{ body_class}}" data-template="base.twig" data-barba="wrapper">
		{# <a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a> #}
		
		{% block content %}
			Sorry, no content
		{% endblock %}

		{% block footer %}
			<footer id="footer" class="site-footer py-4 hidden lg:block lg:fixed bottom-0 w-full bg-almond">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}

		{{ function( 'wp_footer' ) }}

		{% include 'includes/components/newsletter.twig' %}

	</body>

</html>
