<div class="grid grid-cols-2 px-4 gap-6">
    <div class="local-time">
        <p><span class="text-flamingo">15:45</span>  Time in Richmond, Virginia</p>
    </div>
    <div class="cool-facts">
        <p class="whitespace-nowrap"><span class="text-flamingo">Something you should know</span>  {{ facts|map((item) => "#{item.fact}")|join(' ') }}</p>
    </div>
</div>