<div class="grid grid-cols-2 px-4 gap-6">
    <div class="local-time">
        <p><span class="text-flamingo" id="clock"></span>  Time in Richmond</p>
    </div>
    <div class="cool-facts whitespace-nowrap flex">
        <span class="text-flamingo mr-3">Something you should know</span>
        <div class="facts-container relative inline w-full overflow-hidden">
            <div class="facts-inner inline absolute" id="marquee">
                {% set random_fact = random(0, facts|length - 1) %}
                <span class="mr-10 inline-block">{{ facts[random_fact].fact }}</span>
            </div>
        </div>
    </div>
</div>