<div class="site-footer__inner">
    <div class="local-time">
        <p><span class="text-flamingo" id="clock"></span>  Time in New York</p>
    </div>
    <div class="cool-facts">
        <span class="text-flamingo mr-3">Something you should know</span>
        <div class="facts-container relative inline w-full overflow-hidden">
            <div class="facts-inner inline absolute" id="marquee">
                {% set random_fact = random(0, facts|length - 1) %}
                <span class="mr-10 inline-block">{{ facts[random_fact].fact }}</span>
            </div>
        </div>
    </div>
</div>