@layer base {

    @font-face {
        font-family: 'Lector';
        src: url('../../fonts/Lector/LectorRegular.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Lector';
        src: url('../../fonts/Lector/LectorItalic.otf') format('opentype');
        font-weight: normal;
        font-style: italic;
    }

}