<button data-target="card-modal" type="button" class="amp-icon transition duration-300 ease-in-out rounded-full shadow bg-white hover:bg-orange text-orange hover:text-white w-10 float-right mt-2" aria-label="Learn more about {{ title }}">
    {% if card.asset_type == 'video' %}
      {% include 'svg/icons/play.twig' %}
    {% else %}
      {% include 'svg/icons/plus.twig' %}
    {% endif %}
</button>