<div class="feature-and-carousel pt-18 relative">
    <div class="{{ media_item.bg_color }} feature-carousel-bg"></div>
    {% if item.overlay_image|default %}
        <div class="container relative">
            <div class="featured-card-overlay absolute">
                <div class="image-450">
                    <img src="{{ TimberImage(item.overlay_image).src }}" alt="{{ TimberImage(item.overlay_image).alt }}">
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container relative mb-16 lg:mb-24">
        <div class="mb-12">
            {% set first_card = item.cards|slice(0,1)[0] %}
            {% include 'includes/components/feature-card.twig' with { 'card' : first_card, 'hide_count' : true } %}
        </div>
        <div class="scroll-slide-in relative">
            <div class="card-carousel relative">
                {% for card in item.cards|slice(1) %}
                    <div class="flex slide mr-4">
                        {% include 'includes/components/image-card.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% include 'includes/components/carousel-navigation.twig' with { 'cards' : item.cards|slice(1) } %}
    </div>
</div>